body,html {
  width: 100%;
  height: 100%;
  background-image:url('https://thumbs.dreamstime.com/z/grunge-background-american-indian-traditional-patterns-paper-texture-heron-copy-space-text-mock-up-template-137180930.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
}
h1,h2,h3
{
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  display: block;
  color: #0044cc;
}
button
{
  border-radius: 10px;
  padding: 10px;
}
